#
# REPLACE ALL UNCOMMENTED <...> PLACEHOLDERS
#
cmake_minimum_required(VERSION 3.8)

# Name of the project
project(<PROJECT_NAME>)

# Verilog files to be verilated
set(VTOP <MODULE_FILES>)

# C/C++ source files to be compiled
set(CSOURCES <C_SRC_FILES>)

# Additional compiling, linking or verilating arguments (respectively)
#set(COMP_ARGS <ARGS>)
#set(LINK_ARGS <ARGS>)
#set(VERI_ARGS <ARGS>)

# CMake file doing the hard job
include(../cmake/configure-and-verilate.cmake)
